:root{
    --violet_doux:#6c63FF;
    --viole_fonce:#534EDD;
    --orange_vif:#FFA726;
    --gris_fonce:#666;
    --gris_trés_clai:#F8F8F8;
    --gris_clair:#EEE;
}
h1{
    color:var(--viole_fonce);
}